name: Main

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Name'
        required: true

jobs:
  printLog:
    runs-on: ubuntu-latest

    steps:
    - name: print log
      run: echo "Hello! ${{ github.event.inputs.name }}"
  
  printLog2:
    needs: printLog
    runs-on: ubuntu-latest

    steps:
    - name: print log
      run: echo "Hello2! ${{ github.event.inputs.name }}"